a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

body {
	background-color:#FFFFA8;
	padding:10px;
}
.ba-checkers {
	background-color:#eee;
	max-width:80vh;
	width:90%;
	position: relative;
}
.ba-checkers:before {
	display: block;
	content:"";
	padding-bottom:100%;
}
.ba-checkers .holder {
	border:1px solid #000;
	position: absolute;
	top:5%;
	left:5%;
	width:90%;
	height:90%;
	background-color: #FFF;
}
.row {
	position: absolute;
	top: 0;
	left:0;
	height:12.5%;
	width:100%;
}
.cell {
	position: absolute;
	top:0;
	left:0;
	width:12.5%;
	height:100%;
}

.row:nth-child(even) .cell:nth-child(even),
.row:nth-child(odd) .cell:nth-child(odd) {background-color: #333;}
.row:nth-child(2) {top:12.5%}
.row:nth-child(3) {top:25%}
.row:nth-child(4) {top:37.5%}
.row:nth-child(5) {top:50%}
.row:nth-child(6) {top:62.5%}
.row:nth-child(7) {top:75%}
.row:nth-child(8) {top:87.5%}
.cell:nth-child(2) {left:12.5%}
.cell:nth-child(3) {left:25%}
.cell:nth-child(4) {left:37.5%}
.cell:nth-child(5) {left:50%}
.cell:nth-child(6) {left:62.5%}
.cell:nth-child(7) {left:75%}
.cell:nth-child(8) {left:87.5%}
.row:nth-child(-2n+3) .cell:nth-child(odd):before,
.row:nth-child(-2n+3) .cell:nth-child(odd):after,
.row:nth-child(7) .cell:nth-child(odd):before,
.row:nth-child(7) .cell:nth-child(odd):after,
.row:nth-child(2) .cell:nth-child(even):before,
.row:nth-child(2) .cell:nth-child(even):after,
.row:nth-child(2n+6) .cell:nth-child(even):before,
.row:nth-child(2n+6) .cell:nth-child(even):after {
	content:"";
	position: absolute;
	width:80%;
	height:60%;
	top:20%;
	left:10%;
	background: #f00;
	border: 1px solid #000;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	cursor: pointer;
}
.row:nth-child(-2n+3) .cell:nth-child(odd):before,
.row:nth-child(7) .cell:nth-child(odd):before,
.row:nth-child(2n+6) .cell:nth-child(even):before,
.row:nth-child(2) .cell:nth-child(even):before {
	margin-top: 3px;
}
.row:nth-child(n)  .cell:hover:after {
	margin-top: -3px;
	background-color: #FF0080;
}
.row:nth-child(n)  .cell:hover:before {
	margin: 0;
	background-color: #FF0080;
}
